<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Product Id="*" Name="Your Product Name" Language="1033" Version="1.0.0.0" Manufacturer="Your Manufacturer">
        <Package InstallerVersion="500" Compressed="yes" />

        <!-- Прочие элементы установки (например, компоненты, файлы) -->

        <DirectoryRef Id="TARGETDIR">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="YourProduct" />
            </Directory>
        </DirectoryRef>

        <Feature Id="ProductFeature" Title="Main Feature" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>
</Wix>
