<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="XmlParser" Language="1033" Version="1.0.0.0" Manufacturer="MyCompany"
             UpgradeCode="{A1234567-1234-1234-1234-1234567890AB}">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <!-- Каталог установки -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="XmlParser">
                    <!-- Исполняемый файл -->
                    <Component Id="MainExecutable" Guid="5c87a4be-5306-4067-b085-c7f62132b016">
                        <File Id="XmlParserExe"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\XmlParser.exe"
                              KeyPath="yes"/>
                    </Component>

                    <!-- Дополнительные файлы (например, база данных, EntityFramework и другие) -->
                    <Component Id="EntityFramework" Guid="4027f15c-f084-41a5-88dc-11be3315d128">
                        <File Id="EntityFramework"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\EntityFramework.dll"/>
                    </Component>
                    <Component Id="EntityFramework.SqlServer" Guid="7603c69c-2793-40dd-b0f4-1624e8f62dfc">
                        <File Id="EntityFramework.SqlServer"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\EntityFramework.SqlServer.dll"/>
                    </Component>
                    <Component Id="System.Data" Guid="7a0a4276-0230-4c82-877f-12450abc8017">
                        <File Id="System.Data"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\System.Data.SqlClient.dll"/>
                    </Component>
                    <Component Id="System.Data.SQLite" Guid="95be65e2-dfc1-4d40-8e5e-d67b76432cc6">
                        <File Id="System.Data.SQLite"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\System.Data.SQLite.dll"/>
                    </Component>
                    <Component Id="System.Data.SQLite.EF6" Guid="08fe62b9-9267-44c8-9e6b-9090b79c2c5b">
                        <File Id="System.Data.SQLite.EF6"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\System.Data.SQLite.EF6.dll"/>
                    </Component>
                    <Component Id="XmlParser.deps" Guid="9ab23a9e-6a8c-469e-9433-a70b4a5b67a5">
                        <File Id="XmlParser.deps"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\XmlParser.deps.json"/>
                    </Component>
                    <Component Id="XmlParser.dll" Guid="dbdb7bb8-7c79-4be1-95f6-f1925aaf70ff">
                        <File Id="XmlParser.dll"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\XmlParser.dll"/>
                    </Component>
                    <Component Id="XmlParser.pdb" Guid="f80cb57b-4ee8-453b-8e4c-1ccc191c5e7d">
                        <File Id="XmlParser.pdb"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\XmlParser.pdb"/>
                    </Component>
                    <Component Id="XmlParser.runtimeconfig" Guid="fd11e83e-0175-4055-8154-f72b96f71c81">
                        <File Id="XmlParser.runtimeconfig"
                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\XmlParser.runtimeconfig.json"/>
                    </Component>
                    <Component Id="TemplateXslt" Guid="{B1234567-1234-1234-1234-1234567890AB}">
                        <File Id="TemplateXsltFile" Source="..\XmlParser\template.xslt"/>
                    </Component>

                    <Directory Id="RuntimesFolder" Name="runtimes">

                        <!-- win platform -->
                        <Directory Id="WinFolder" Name="win">
                            <Directory Id="LibFolder" Name="lib">
                                <Directory Id="NetCoreAppFolder" Name="netcoreapp2.1">
                                    <Component Id="SystemDataSqlClient" Guid="{A1234567-1234-1234-1234-1234567890AB}">
                                        <File Id="SystemDataSqlClientFile"
                                              Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll"/>
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>

                        <!-- win-arm64 platform -->
                        <Directory Id="WinArm64Folder" Name="win-arm64">
                            <Directory Id="NativeFolderArm64" Name="native">
                                <Component Id="SniDllArm64" Guid="{B1234567-1234-1234-1234-1234567810AB}">
                                    <File Id="SniDllFileArm64" Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win-arm64\native\sni.dll"/>
                                </Component>
                            </Directory>
                        </Directory>

                        <!-- win-x64 platform -->
                        <Directory Id="WinX64Folder" Name="win-x64">
                            <Directory Id="NativeFolderX64" Name="native">
                                <Component Id="SniDllX64" Guid="{C1234567-1234-1234-1234-1234567890AB}">
                                    <File Id="SniDllFileX64" Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win-x64\native\sni.dll"/>
                                </Component>
                                <Component Id="SQLiteX64" Guid="{D1234567-1234-1234-1234-1234567890AB}">
                                    <File Id="SQLiteFileX64" Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win-x64\native\SQLite.Interop.dll"/>
                                </Component>
                            </Directory>
                        </Directory>

                        <!-- win-x86 platform -->
                        <Directory Id="WinX86Folder" Name="win-x86">
                            <Directory Id="NativeFolderX86" Name="native">
                                <Component Id="SniDllX86" Guid="{E1234567-1234-1234-1234-1234567890AB}">
                                    <File Id="SniDllFileX86" Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win-x86\native\sni.dll"/>
                                </Component>
                                <Component Id="SQLiteX86" Guid="{F1234567-1234-1234-1234-1234567890AB}">
                                    <File Id="SQLiteFileX86" Source="F:\OtherProjectUnity\XmlToDB\XmlParser\bin\Debug\net6.0-windows\runtimes\win-x86\native\SQLite.Interop.dll"/>
                                </Component>
                            </Directory>
                        </Directory>

                    </Directory>

                </Directory>
            </Directory>
        </Directory>

        <Feature Id="ProductFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="EntityFramework"/>
            <ComponentRef Id="EntityFramework.SqlServer"/>
            <ComponentRef Id="System.Data"/>
            <ComponentRef Id="System.Data.SQLite"/>
            <ComponentRef Id="System.Data.SQLite.EF6"/>
            <ComponentRef Id="XmlParser.deps"/>
            <ComponentRef Id="XmlParser.dll"/>
            <ComponentRef Id="XmlParser.pdb"/>
            <ComponentRef Id="XmlParser.runtimeconfig"/>
            <ComponentRef Id="TemplateXslt"/>
            <ComponentRef Id="SystemDataSqlClient"/>
            <ComponentRef Id="SniDllArm64"/>
            <ComponentRef Id="SniDllX64"/>
            <ComponentRef Id="SQLiteX64"/>
            <ComponentRef Id="SniDllX86"/>
            <ComponentRef Id="SQLiteX86"/>
        </Feature>
    </Product>
</Wix>
